@page "/Reservations"

<h1 id="R_h1">Reservation Finder</h1>

<div class="container">
    <div>
        <label class="label" for="code">Code:</label>
        <input type="text" placeholder="Any" id="code" class="input-box" />
    </div>

    <div>
        <label class="label" for="airline">Airline:</label>
        <input type="text" placeholder="Any" id="airline" class="input-box" />
    </div>

    <div>
        <label class="label" for="name">Name:</label>
        <input type="text" placeholder="Any" id="name" class="input-box" />
    </div>

    <div>
        <button id="findbtn">Find Reservations</button>
    </div>
</div>
